body {
    background-color: rgb(241, 203, 154);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}

.header {
    text-align: center;
    font-size: 2rem;
    padding: 2%;
}

.game-area {
    box-sizing: border-box;
    border: 2px black solid;
    margin: auto;
    padding: 1%;

}

.r {
    width: 11%;
    height: 11%;
    margin: auto;
    padding: 1%;
}

.p, .s, .l, .sp {
    width: 12%;
    height: 12%;
    margin: auto;
    padding: 1%;
}

#wins {
    color: green;
    font-weight: bold;
}

#losses {
    color: red;
    font-weight: bold;
}

.score-area {
    display: inline-block;
    padding: 1%;
    display: flexbox;
    flex-direction: row;
}

.buttonDiv {
    padding: 1%;
    width: auto;
}

.button-lock {
    background-color:rgb(28, 75, 146);
    color:white;
    font-size: 100%;
    font-style:italic;
    font-weight: bold;
}

.button-lock:active,
.button-lock:hover {
    background-color: rgb(19, 143, 36);
    color: white;
}

.rules-box {
    width: 75rem;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
    margin: auto;
    padding: 1%;
    margin-top: 2%;
    background-color: rgb(219, 215, 215);
    line-height: 25px;
}

.footer {
    display: flexbox;
    justify-content: baseline;
}