body {
    background-color: rgb(241, 203, 154);
    font-family:Georgia, 'Times New Roman', Times, serif; 
    color: black;
    text-align: center;
}

.header {
    text-align: center;
    font-size: 180%;
    padding: 2%;

}

.rules-box {
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 1%;
    margin-top: 2%;
    margin-bottom: 5%;
    box-sizing: border-box;
    border: 2px solid black;
    background-color: rgb(219, 215, 215);
    line-height: 25px;
}

.game-area {
    width: 100%;
    margin: auto;
}

#choices {
    width: 80%;
    height: 15rem;
    margin-top: 10px;
    margin: 0 auto;
}

/* Add reset function with timer and delay*/
#choices img {
    width: 15%;
    height: 15rem;
    padding: 1%;
    cursor: pointer;
    transition: 200ms;
}

#choices img:hover {
    transform: scale(1.2);
}

.choice-results {
    
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    
}

#your-choice {
    width: 10%;
    height: 10rem;
    background-color: lightgray;
    box-sizing: border-box;
    border: 3px solid green;
    margin-top: 10px;

}

#computers-choice {
    width: 10%;
    height: 10rem;
    background-color: lightgray;
    box-sizing: border-box;
    border: 3px solid  red;
    margin-top: 10px;

}

.score-area {
    padding: 0;
    margin-top: 5%;
    font-size: 140%;

}

#your-score {
    color: green;
    font-weight: bold;
}

#computers-score {
    color: red;
    font-weight: bold;
}

#message {
    display: none;
}
 

.reload {
    font-weight: bold;
    width: 7%;
    background-color: red;
    cursor: pointer;
    font-size: 120%;
}

.footer {
    margin-top: 5%;
}

